	<audio audio id="BGMthemeCalme" loop>
		  <source src="/audio/mp3/BGM/01_theme_calme.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/BGM/01_theme_calme.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="BGMthemeBrutal" loop>
		  <source src="/audio/mp3/BGM/02_theme_brutal.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/BGM/02_theme_brutal.OGG" type="audio/ogg" />
	</audio>
	
		<!-- SE -->
		
	<audio audio id="SEbruitDePas">
		  <source src="/audio/mp3/SE/bruit_de_pas.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/bruit_de_pas.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEclic">
		  <source src="/audio/mp3/SE/clic.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/clic.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEcollision">
		  <source src="/audio/mp3/SE/collision.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/collision.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEcrashContreMur">
		  <source src="/audio/mp3/SE/crash_contre_mur.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/crash_contre_mur.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEpousse">
		  <source src="/audio/mp3/SE/pousse.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/pousse.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEsplash1">
		  <source src="/audio/mp3/SE/splash1.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/splash1.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEsplash2">
		  <source src="/audio/mp3/SE/splash2.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/splash2.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEfirstBlood">
		  <source src="/audio/mp3/SE/voices/first_blood.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/first_blood.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Varggh">
		  <source src="/audio/mp3/SE/voices/arggh.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/arggh.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vaye">
		  <source src="/audio/mp3/SE/voices/aye.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/aye.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vbye">
		  <source src="/audio/mp3/SE/voices/bye.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/bye.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vha">
		  <source src="/audio/mp3/SE/voices/ha.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/ha.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vhaaa">
		  <source src="/audio/mp3/SE/voices/haaa.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/haaa.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vhahou">
		  <source src="/audio/mp3/SE/voices/hahou.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/hahou.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vhahouille">
		  <source src="/audio/mp3/SE/voices/hahouille.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/hahouille.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vhaye">
		  <source src="/audio/mp3/SE/voices/haye.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/haye.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vhou">
		  <source src="/audio/mp3/SE/voices/hou.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/hou.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vlooser">
		  <source src="/audio/mp3/SE/voices/looser.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/looser.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vouch">
		  <source src="/audio/mp3/SE/voices/ouch.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/ouch.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vouche">
		  <source src="/audio/mp3/SE/voices/ouche.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/ouche.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vouille">
		  <source src="/audio/mp3/SE/voices/ouille.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/ouille.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="Vvictory">
		  <source src="/audio/mp3/SE/voices/victory.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/voices/victory.OGG" type="audio/ogg" />
	</audio>
	
	<audio audio id="SEstun">
		  <source src="/audio/mp3/SE/stun.MP3" type="audio/mp3" />
		  <source src="/audio/ogg/SE/stun.OGG" type="audio/ogg" />
	</audio>
	
<div id="gamePannel">
	<div id="myName" style="display:none"><%= username %></div>
	
	<div id="playerz">
		<div id="time">1:00</div>
		<div id="p1" class="aPlayer" style="color:red">
			<div id="p1N" class="nnn">Player1</div>
			<div id="p1S" class="sss">0</div>
		</div>
		<div id="p2" class="aPlayer" style="color:green">
			<div id="p2N" class="nnn">NC</div>
			<div id="p2S" class="sss">0</div>
		</div>
		<div id="p3" class="aPlayer" style="color:blue">
			<div id="p3N" class="nnn">NC</div>
			<div id="p3S" class="sss">0</div>
		</div>
		<div id="p4" class="aPlayer" style="color:orange">
			<div id="p4N" class="nnn">NC</div>
			<div id="p4S" class="sss">0</div>
		</div>
		<div id="p5" class="aPlayer" style="color:purple">
			<div id="p5N" class="nnn">NC</div>
			<div id="p5S" class="sss">0</div>
		</div>
		<div id="p6" class="aPlayer" style="color:cyan">
			<div id="p6N" class="nnn">NC</div>
			<div id="p6S" class="sss">0</div>
		</div>
		<div id="p7" class="aPlayer" style="color:pink">
			<div id="p7N" class="nnn">NC</div>
			<div id="p7S" class="sss">0</div>
		</div>
		<div id="p8" class="aPlayer" style="color:yellow">
			<div id="p8N" class="nnn">NC</div>
			<div id="p8S" class="sss">0</div>
		</div>
	</div>
	<canvas id="canvas" width="900" height="600">Your nav don't support it ! :(</canvas>
	
	<div id="tchat">
		<pre id="messages"></pre>
		<form method="post" id="message-form">
			<input type="text" placeholder="Type your message" id="message-input" name="message">
			<input type="submit" value="OK">
		</form>
	</div>
	
	<div id="endPannel" style="display:none">
		<ul id="listPlayers">
		
		</ul>
	</div>
	
	<div id="debugWindow">
		<h1>Wait during game is loading</h1>
	</div>
	<script type="text/javascript" src="../socket.io/socket.io.js"></script>

	<script type="text/javascript" src="/js/game/config.js"></script>
	
	<script type="text/javascript" src="/js/tchat/addMessage.js"></script>
	<script type="text/javascript" src="/js/sockets/initSocket.js"></script>

	<script type="text/javascript" src="/js/game/perso.js"></script>
	<script type="text/javascript" src="/js/game/Tache.js"></script>
	<script type="text/javascript" src="/js/game/explosionSang.js"></script>
	
	<script type="text/javascript" src="/js/game/inputs.js"></script>
	<script type="text/javascript" src="/js/game/requestAnimationFrame.js"></script>
	<script type="text/javascript" src="/js/game/run.js"></script>

	<script type="text/javascript" src="/js/gameIndex.js"></script>
	<script type="text/javascript" src="/js/game/audio.js"></script>
</div>